<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MS-DOCS</title>
    <!-- Bootstrap CSS -->
    <link href="~/plugins/bootstrap-5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="~/plugins/bootstrap-icons-1.10.5/font/bootstrap-icons.css">
    <!-- Jira Theme CSS -->
    <link rel="stylesheet" href="~/css/jira-theme.css" asp-append-version="true" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/css/common.css" asp-append-version="true" />
    @await RenderSectionAsync("Styles", required: false)
</head>
<body class="auth-page bg-light">
    <main role="main">
        @RenderBody()
    </main>

    <!-- jQuery -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="~/plugins/bootstrap-5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
